body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;   
    background-image:url("bee.jpg");
    background-attachment:fixed;
    height:100vh;
  }

.masthead {
    flex-basis: 4rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    position:relative;
    overflow:auto;
    background-color:rgb(76,148,190,0.7) ;
}

.masthead .btn {
    background-color: #4c94be;
    border-radius: 0.3rem;
    border: none;
    
}

input[type=text]:focus{
background-color:white;
color:black;
}

.boards-menu {
    display: flex;
    flex-shrink: 1;
}
.boards-btn {
    flex-basis: 9rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin-right: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    
}

.board-search {
    flex-basis: 6rem;
    position: relative;
}

.board-search-input  {
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #4c94be;
    width: 50%;
    padding: 0 3rem 0 1rem;
    color: #fff;
}

input[type=search]:focus{
background-color:white;
color:black;
}
.logo {
    font-family: "Courgette", cursive;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    margin: 10rem;
    cursor: pointer;
    text-align:center;
}

.user-settings {
    display: flex;
    height: 2rem;
}

.user-settings-btn {
    font-size: 1.5rem;
    width: 100%;
    color:white;
}
.user-settings {
       display: grid;
       grid-template-columns: repeat(4, auto);
       grid-column-gap: 0.3rem;
   }
   
  
  .board-info-bar {
  flex-basis: 4rem;
  display: flex;
  background-color: rgb(169,169,169,0.1);
  color:white; 
  align-items: center;
  padding: 0 0.8rem;
  position:relative;
  overflow:auto;  
  border-radius: 0.3rem;
  border: none;
  
  }
  
  .board-info-bar .btn{
  flex-basis: 9rem;
  font-size: 1rem;
  color: white;
  margin-right: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  width:10rem;
  background-color: rgb(169,169,169,0);
  
  }
  
   .board-controls {
   display: flex;
   flex-shrink: 1;
   color:white;
   margin:0 24rem 0 0;
   }
   
 
/* Lists */

.lists-container::-webkit-scrollbar {
    height: 2.4rem;
}

.lists-container {
    display: flex;
    align-items: start;
    overflow-x: auto;
    height: calc(100vh - 8.6rem);
}

.list {
    flex: 0 0 20rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1.5rem;
    padding:1.5rem;
}

.list-title {
    font-size: 1rem;
    color: #333;
    padding: 1rem;
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
}

.list-items li {
    font-size: 1rem;
    background-color: #fff;
    padding:0.65rem 0.6rem;
    color: #4d4d4d;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
    margin-left:2rem;:
}

.add-card-btn {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #838c91;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
    border:none;
}

.add-list-btn {
    flex: 0 0 27rem;
    display: block;
    background-color: #006aa7;
    color: #a5cae0;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    text-align: left;
    border:none;
}
.add-list{
   color:white;
   background-color:olive;
   height:50px;
   width:100px;
   text-align:center;
   border-radius: 8px;
   font-size:20px;
   border:none;
   
   }
   .list-items {
   position: relative;
   display: inline-block;
   color:black;
   }
   
   .list-items :hover .edit{
   display: block;
   }
   
   .edit {
   padding-top: 7px;	
   padding-right: 7px;
   position: auto;
   right: 0;
   top: 0;
   display: none;
   }
   
   .edit a {
   color:black;
   }
   
.lists-container {
      display: grid;
      grid-auto-columns: 18rem;
      grid-auto-flow: column;
      grid-column-gap: 1rem;
  }

  .list {
      display: grid;
      grid-template-rows:auto;
  }

  .list-items {
      display: grid;
      grid-row-gap: 0.6rem;
  }

  
  .list,
  .list-items li
   {
      margin: 0;
  }

  

   
   
   
   
   

  
  
  
  
